<template>
  <div class="md-layout page-wrapper" md-theme="default">
    <table-companies />
  </div>
</template>

<script>
import TableCompanies from "./../components/TableCompanies";

export default {
  components: {
    "table-companies": TableCompanies
  }
};
</script>

<style lang="scss">
.md-layout-item {
  height: 40px;
}
.page-wrapper {
  padding: 2rem 1rem;
}
</style>
