

<template>
  <md-table-row slot="md-table-row" slot-scope="{ data }">
    <md-table-cell>{{data.name}}</md-table-cell>
    <md-table-cell>{{data.id}}</md-table-cell>
    <md-table-cell>{{data.director}}</md-table-cell>
    <md-table-cell>
      <div class="table-controls">
        <md-button v-on:click.native="openModal(data.id) " class="md-raised md-primary md-fab md-mini ">
          <md-icon>edit</md-icon>
        </md-button>
        <md-button v-on:click.native="deleteCompany(data.id) " class="md-raised md-fab md-mini ">
          <md-icon>delete</md-icon>
        </md-button>
      </div>
    </md-table-cell>
    <md-dialog :md-active.sync="showDialog ">
      <form>
        <md-card>
          <md-card-header>
            Редактирование
          </md-card-header>
          <md-card-content>
            <md-field>
              <label>INN</label>
              <md-input v-model="data.id " disabled></md-input>
            </md-field>
            <md-field>
              <label>Company name</label>
              <md-input v-model="data.name "></md-input>
            </md-field>
            <md-field>
              <label>Director</label>
              <md-input v-model="data.director "></md-input>
            </md-field>
            <div class="save-changes-button ">
              <md-button v-on:click.native="saveChanges" class="md-raised md-primary ">
                Save changes
              </md-button>
            </div>
          </md-card-content>
        </md-card>
      </form>
    </md-dialog>
  </md-table-row>
</template>


<script>
import { mapActions } from "vuex";

export default {
  name: "Company",
  props: ["data", "deleteCompany", "id"],
  data() {
    return {
      showDialog: null,
      inn: "",
      name: "",
      director: "",
      suggestionOptions: {
        token: "8f32cff184dd1bd099e74b4ca590474d25c0a1e8",
        type: "NAME",
        scrollOnFocus: false,
        triggerSelectOnBlur: false,
        triggerSelectOnEnter: false,
        addon: "none"
      }
    };
  },
  methods: {
    ...mapActions(["editCompanyAction"]),
    openModal(id) {
      this.showDialog = id;
    },
    saveChanges() {
      this.editCompanyAction({
        id: this.inn,
        name: this.name,
        director: this.director
      });

      this.showDialog = null;
    }
  }
};
</script>

<style lang="scss">
.table-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
.save-changes-button {
  display: flex;
  justify-content: center;
}
</style>
