<template>
  <md-toolbar class="md-primary">
    <div class="toolbar-content" @click="createFormOpen">
      <h3 class="md-title">Create new company</h3>
      <md-icon class=" md-icon">add</md-icon>
    </div>
  </md-toolbar>
</template>

<style lang="scss">
.created-form {
  margin: 2rem 0 4rem;
}
.toolbar-content {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .md-icon {
    margin: 0 0 0 1rem;
  }
}
</style>

<script>
export default {
  props: ["createFormOpen"]
};
</script>
