<template>
  <div class="header-wrapper">
    <span class="md-display-2">Companies</span>
  </div>
</template>


<style lang="scss" scoped>
.md-app {
  max-height: 400px;
  border: 1px solid rgba(#000, 0.12);
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.header-wrapper {
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}
</style>
