<template>
  <div class="table-wrapper">
    <md-table v-model="companies" md-card>
      <md-table-row>
        <md-table-head v-on:click.native="sort('name')" class="sorted-cell">Name {{currentSortDir === 'asc' ? '↓' : '↑'}}</md-table-head>
        <md-table-head>INN</md-table-head>
        <md-table-head>Director</md-table-head>
        <md-table-head />
      </md-table-row>
      <company v-for="(company) in sortedCompanies" :data="company" :key="company.id" :deleteCompany="deleteCompany">
      </company>
    </md-table>
    <!-- v-show for suggestions, apply styles on mounted hook -->
    <form v-show="isCreatedOpen" class="created-form">
      <md-card>
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item">
              <md-field class="suggestion-input-wrap md-has-value">
                <label>Company name</label>
                <md-input v-model="companyName" id="companyName-suggestion" placeholder="Введите имя компании"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item">
              <md-field class="suggestion-input-wrap md-has-value">
                <label>Inn</label>
                <md-input disabled id="inn-suggestion" v-model="inn" type="text"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item">
              <md-field class="suggestion-input-wrap md-has-value">
                <label>Director name</label>
                <md-input disabled id="director-suggestion" v-model="directorName"></md-input>
              </md-field>
            </div>
          </div>
          <div class="md-layout md-gutter created-controls-wrapper" :class="`md-alignment-center-right`">
            <md-button @click="addCompany" class="md-raised md-primary md-mini">
              save
            </md-button>
            <md-button class="md-raised md-accent md-mini custom-button" @click="toggleCreatedForm">
              cancel
            </md-button>
          </div>
        </md-card-content>
      </md-card>
    </form>
    <create-company v-if="!isCreatedOpen" :createFormOpen="toggleCreatedForm"></create-company>
    <div class="pagination-wrap" v-if="companies.length > perPage">
      <b-pagination size="md" :total-rows="companies.length" v-model="currentPage" :per-page="perPage" @change="setPage">
      </b-pagination>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import $ from "jquery";
import suggestions from "suggestions-jquery";

import Company from "./Company";
import CreateCompany from "./CreateButton";

export default {
  name: "TableTemplate",
  components: {
    company: Company,
    createCompany: CreateCompany
  },
  data: function() {
    return {
      currentSort: "name",
      currentSortDir: "asc",
      isCreatedOpen: false,
      inn: "",
      companyName: "",
      directorName: "",
      suggestionOptions: {
        token: "8f32cff184dd1bd099e74b4ca590474d25c0a1e8",
        type: "PARTY",
        scrollOnFocus: true,
        floating: false,
        triggerSelectOnBlur: true,
        triggerSelectOnEnter: false,
        addon: "none",
        width: "auto",
        count: 5,
        onSelect: function(suggestion) {
          const companyName = suggestion.data.name.short_with_opf;
          const companyDirector = suggestion.data.management.name;
          const companyInn = suggestion.data.inn;

          const companyNameInput = $("#companyName-suggestion");
          const innInput = $("#inn-suggestion");
          const directorInput = $("#director-suggestion");

          companyNameInput.val(companyName);
          innInput.val(companyInn);
          directorInput.val(companyDirector);
        }
      }
    };
  },
  computed: {
    ...mapGetters({
      companies: "getCompanies",
      pageCompanies: "getPageContent",
      currentPage: "getCurrentPage",
      perPage: "getPerPage"
    }),
    sortedCompanies: function() {
      return this.pageCompanies.slice().sort((a, b) => {
        let modifier = 1;

        if (this.currentSortDir === "desc") modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;

        return 0;
      });
    }
  },
  methods: {
    toggleCreatedForm() {
      this.isCreatedOpen = !this.isCreatedOpen;
    },

    ...mapActions([
      "addCompanyAction",
      "deleteCompanyAction",
      "loadCompaniesAction",
      "setPageAction"
    ]),

    addCompany: function() {
      this.addCompanyAction({
        id: $("#inn-suggestion").val(),
        name: $("#companyName-suggestion").val(),
        director: $("#director-suggestion").val()
      });

      this.companyName = "";
      this.toggleCreatedForm();
    },

    deleteCompany(id) {
      this.deleteCompanyAction({
        id
      });
    },

    setPage(id) {
      this.setPageAction(id);
    },

    sort(s) {
      if (s === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = s;
    }
  },
  mounted() {
    $("#companyName-suggestion").suggestions(this.suggestionOptions);
  }
};
</script>

<style lang="scss">
.custom-button {
  background: red;
}

.table-wrapper {
  padding: 0 4rem;
  width: 100%;
  margin-top: 2rem;

  .md-table-cell {
    height: auto !important;
  }

  .created-controls-wrapper {
    margin-top: 2rem;
    padding-right: 2rem;
  }
}

.pagination-wrap {
  margin-top: 1rem;
}

.sorted-cell {
  cursor: pointer;
}

//dadata styles
.suggestion-input-wrap {
  position: relative;

  #companyName-suggestion {
    padding-left: 0 !important;
  }

  .suggestions-suggestions {
    background: #fff;
    left: 0 !important;
    top: 45px !important;

    .suggestions-suggestion {
      padding: 0.5rem;

      &:hover {
        background: #ccc;
      }
    }
  }
}
</style>
