<template>
  <div class="app">
    <app-header />
    <router-view />
  </div>
</template>

<script>
import Header from "./components/Header.vue";

export default {
  data() {
    return {};
  },
  components: { "app-header": Header }
};
</script>

<style lang="scss">
html {
  width: 100%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  width: 100%;

  min-height: 100%;
  margin: 0;
}
</style>
